.wrapper {
  width: 100%;
  padding: 1.4rem;
}

.headline {
  font-size: 10vw;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.galleryWrapper {
  display: flex;
  gap: 1.4rem;
}
